.edit-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .edit-station-text {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 5px;
    }
}

