.home {
    h1 {
        font-size: 1.8em;
    }
}


.bg-animator {
    position: absolute;
    top: -50vh;
    height: 50vh;
    width: 100%;
    z-index: -1;

    animation: myDisco 15s infinite;
}

@keyframes myDisco {
    0% {
        box-shadow: 0 45vh 50vh 0 rgb(165, 44, 195);
    }
    10% {
        shadow: 0 45vh 50vh 0 rgb(0, 183, 255);
    }
    40% {
        box-shadow: 0 45vh 50vh 0 rgb(0, 200, 123);
    }
    60% {
        box-shadow: 0 45vh 50vh 0 rgb(200, 123, 0);
    }
    80% {
        box-shadow: 0 45vh 50vh 0 rgb(200, 0, 0);
    }
    100% {
        box-shadow: 0 45vh 50vh 0 rgb(165, 44, 195);
    }
}