.station {
    min-height: 92.5vh;
    padding-top: $top-bar;
    padding-bottom: 6em;
    // background: linear-gradient(0deg, rgba(0,0,0,1) 35%, rgba(47,0,78,1) 63%, rgb(157, 80, 147) 100%);
    main {
        padding-inline-start: 2.2vw;
        margin-bottom: 1.5em;

        .station-img {
            width: em(192px);
            min-width: em(192px);
            height: em(192px);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline-end: 1.5em;
            background: rgb(157, 48, 148);
            background: linear-gradient(
                135deg,
                rgba(157, 48, 148, 1) 9%,
                rgba(246, 119, 213, 1) 49%,
                rgba(221, 178, 216, 1) 100%
            );

            & > span {
                font-size: 4.5em;
                cursor: default;
                color: rgb(250, 250, 250);
                animation: beat 0.6s infinite;
            }

            @keyframes beat {
                from {
                    transform: scale(1);
                }

                to {
                    transform: scale(1.2);
                }
            }
        }

        display: flex;
        height: em(260px);
        align-items: flex-end;

        & > div {
            justify-content: flex-end;

            h1 {
                margin: 0;
                color: white;
            }
            & > p {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
            }
            & > div {
                display: flex;
                align-items: center;
                margin-top: 0.4em;
                cursor: default;
                img {
                    height: 1.5em;
                    width: 1.5em;
                    border-radius: 50%;
                    background: white;
                    margin-inline-end: 0.25em;
                }
                & > span {
                    margin-inline-end: 0.2em;
                }
            }
        }
        h1 {
            letter-spacing: -0.05em;
        }

        @include for-narrow-layout {
            h1 {
                font-size: 2.5em;
            }
        }
        @include for-normal-layout {
            .station-img {
                width: em(192px);
                height: em(192px);
            }
            h1 {
                font-size: 6.5vw;
            }
        }
        @include for-wide-layout {
            .station-img {
                width: em(232px);
                height: em(232px);
            }
            h1 {
                font-size: 5.5em;
            }
        }
    }
    section {
        & > .actions {
            padding: 1.5em 0;
        }
        .btn-play {
            font-size: 1.6em;
            padding-right: 0.3em;

            span {
                font-size: 1.5em;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .search-link {
        text-decoration: underline;
        cursor: pointer;
    }
}

.socketMouse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: blue;
    font-size: 1rem;
}

@include for-mobile-layout {
    .station {
        padding-top: 0;
        main {
            // height: 51vh;
            .station-img {
                max-width: em(128px);
                max-height: em(128px);
                min-width: em(128px);
                min-height: em(128px);
                // min-width: em(160px);
                // min-height: em(160px);
            }
        }
    }
}
