.global-search {
    min-height: 60vh;
    padding: 1em 2.2vw;
    background: #111;
    h2 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: -0.02em;
    }

    label {
        display: flex;
        align-items: center;
        background: #2f2f2f;
        max-width: 20em;
        padding: 0.5em;
        margin-bottom: 1.5em;

        border-radius: 0.2em;

        span {
            font-size: 1.3em;
        }

        input {
            padding-inline-start: 0.5em;
            font-size: 0.9em;
            background: inherit;
            color: inherit;
            border: none;
            outline: none;
            width: 100%;
        }
    }
}