.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $side-nav;
    background: rgb(0, 0, 0);

    .icon-home, .icon-search {
        font-size: 2em;
        margin-inline-end: 0.5em;
    }
    
    .icon-library {
        font-size: 1.3em;
        line-height: 1.3em;
        mix-blend-mode:luminosity;
        margin-inline-end: 1em;
    }
    .icon-heart, .icon-plus {
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 1em;
        width: 1.6em;
        height: 1.6em;
        border-radius: 0.1em;
        margin-inline-end: 1.3em;

    }
    .icon-plus {
        background-color: rgb(200, 200, 200);
        color: #2f2f2f;
    }
    .icon-heart {
        background: rgb(157,48,148);
        background: linear-gradient(135deg, rgba(157,48,148,1) 9%, rgba(246,119,213,1) 49%, rgba(221,178,216,1) 100%);
    }

    .router-link-exact-active {
        background: rgba(128, 128, 128, 0.35);
        color: white;
    }

    .logo-container {
        height: 4.6em;
        padding-right: 2em;
        max-width: $side-nav;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 3.5em;
        }
        h1 {
            margin: 0.3em 0.1em 0;
        }
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .main-links {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.2em;
        }

        a {
            display: flex;
            align-items: center;
            padding-left: 1em;
            font-size: 0.9em;
            margin: 0 0.5em;
            font-weight: bold;
            line-height: 2.8em;
            border-radius: 0.25em;

            transition: 0.3s;

            &:hover {
                color: white;
            }
        }
    }

}