.side-nav {
    z-index: 50;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4.5em ;
    width: 100% ;
    background: rgb(0, 0, 0);

    .icon-home,.icon-search,.icon-library,.icon-heart,.icon-plus {
        margin: 0;
    }

    .icon-home, .icon-search {
        font-size: 2em;
    }
    
    .icon-library {
        font-size: 1.3em;
        padding-bottom: 0.2em;
        mix-blend-mode:luminosity;
    }
    .icon-heart, .icon-plus {
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 1em;
        width: 1.6em;
        height: 1.6em;
        border-radius: 0.1em;
        margin-bottom: 0.45em;
    }
    .icon-plus {
        background-color: rgb(200, 200, 200);
        color: #2f2f2f;
    }
    .icon-heart {
        background: rgb(157,48,148);
        background: linear-gradient(135deg, rgba(157,48,148,1) 9%, rgba(246,119,213,1) 49%, rgba(221,178,216,1) 100%);
    }

    .router-link-exact-active {
        background: rgba(128, 128, 128, 0.35);
        color: white;
    }

    .logo-container {
        position: fixed;
        top: 0;
        left: 1em;
        height: 4.6em;
        padding-right: 2em;
        max-width: $side-nav;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 3.5em;
        }
        h1 {
            margin: 0.3em 0.1em 0;
        }
    }

    .main-nav {
        display: flex;
        position: absolute;
        
        width: 100%;
        // align-items: center;
        // flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .main-links {
            display: flex;
            justify-content: space-around;
            width: 60%;
            // flex-direction: column;
            margin-bottom: 1.2em;
            a {
                width: 33%;
            }
        }

        a {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0.7em;
            font-size: 0.9em;
            // margin: 0 0.5em;
            font-weight: bold;
            // line-height: 2.8em;
            border-radius: 0.25em;
            transition: 0.3s;
            // line-height: 0.5em;
            margin-top: -0.8em;

            &:hover {
                color: white;
            }
        }
    }

}

@include for-mobile-layout {
    
}
@include for-narrow-layout {
    
}
@include for-normal-layout {
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: $side-nav;
        background: rgb(0, 0, 0);

        .icon-home, .icon-search {
            margin-inline-end: 0.5em;
        }
        .icon-library {
            line-height: 1.3em;
            margin-inline-end: 1em;
        }
        .icon-heart, .icon-plus {
            margin-inline-end: 1.3em;
        }

        

        .logo-container {
            position: initial;
            height: 4.6em;
            padding-right: 2em;
            max-width: $side-nav;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                width: 3.5em;
            }
            h1 {
                margin: 0.3em 0.1em 0;
            }
        }

        .main-nav {
            display: flex;
            flex-direction: column;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
            .main-links {
                display: flex;
                flex-direction: column;
                margin-bottom: 1.2em;
                width: initial;

                a {
                    width: initial;
                }
            }
    
            a {
                width: initial;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 0 0 1em;
                font-size: 0.9em;
                margin: 0 0.5em;
                font-weight: bold;
                line-height: 2.8em;
                border-radius: 0.25em;
    
                transition: 0.3s;

                span {
                    margin-bottom: 0;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }
}
@include for-wide-layout {
    
}
