.station-preview {
    position: relative;
    // margin: 0 0.5em 0.5em;
    display: flex;
    // min-width: 12em;
    height: 16em;
    flex-direction: column;
    background: rgb(29, 29, 29);
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    overflow: hidden;

    transition: 0.3s;

    &:hover {
        background: rgba(128, 128, 128, 0.175);
    }
    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
        transform: translateY(0);
    }
    .fade-enter, .fade-leave-to {
        
        transform: translateY(15px);
        opacity: 0;
    }

    .btn-play {
        padding-left: 0.5em;
        padding-top: 0.1em;
        position: absolute;
        top: 7.5em;
        right: 1.5em;
        width: 2.2em;
        height: 2.2em;
        font-size: 1.1em;
        color: white;
        border-radius: 50%;
        border: none;
        background-color: rgb(0, 182, 61);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    }

    p {
        &:nth-child(2){
            margin-top: 1.5em;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        &:nth-child(3){
            margin: 0;
            font-size: 0.9em;
            color: $clr2;
        }
    }

    img{
        width: 100%;
        // min-width: 10em;
        min-height: 10em;
        border-radius: 0.2em;
    }
}

.btn-liked-songs{
    cursor: pointer;
    grid-column: 2 span;
    padding: 1em;
    color: white;
    border-radius: 0.3em;
    background: linear-gradient(148deg, rgba(0,113,80,1) 0%, rgba(67,213,164,1) 63%, rgba(224,255,237,1) 97%);
}