.station-preview {
    position: relative;
    // margin: 0 0.5em 0.5em;
    height: 100%;
    grid-column: span 1;
    display: flex;
    // max-height: 19em;
    flex-direction: column;
    background: rgb(29, 29, 29);
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    overflow-x: hidden;

    transition: 0.3s;

    &:hover {
        background: rgba(128, 128, 128, 0.175);
    }
    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
        transform: translateY(0);
    }
    .fade-enter, .fade-leave-to {
        
        transform: translateY(15px);
        opacity: 0;
    }

    .btn-play {
        position: absolute;
        top: 45%;
        right: 15%;
    }

    p {
        line-height: normal;
        white-space: nowrap;
        overflow: hidden;
        &:nth-child(2){
            margin-top: 1.5em;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        &:nth-child(3){
            font-size: 0.9em;
            color: $clr2;
        }
    }

    div {
        width: 100%;
        background-color: red;
        height: 70%;
        
        & > img{
            object-fit: cover;
            // background-position: ;
            // position: absolute;
            height:100%;
            width: 100%;
            // height: auto;
            // max-height: 65%;
            // min-height: 65%;
            border-radius: 0.2em;
            background-color:#2f2f2f;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
        }
    }
}

.btn-liked-songs{
    cursor: pointer;
    grid-column: 2 span;
    padding: 1em;
    color: white;
    border-radius: 0.3em;
    background: linear-gradient(148deg, rgba(0,113,80,1) 0%, rgba(67,213,164,1) 63%, rgba(224,255,237,1) 97%);
}