.top-bar {
    height: $top-bar;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 0.5em 0 4.5em;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: $side-nav;
    box-shadow: inset 8em 0 4em 0 rgb(20, 20, 20);

    transition: all 0.2s;

    .header-btns {
        display: none;
        .disabled{
            background-color: #333333a8;
            cursor: not-allowed;
        }
        button {
            
            background-color: #151515;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 0.25em;
            span {
                width: 1.5em;
                height: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3em;
            }
            & .arrow-backward {
                padding-left: 0.3em;
            }
            & .arrow-forward {
                padding-left: 0.1em;
            }
        }
    }

    form {
        height: em(40px);
        display: flex;
        min-width: 8em;
        width: 100%;

        margin: 0 1em;
        label {
            width: 100%;

            .search-local {
                height: 100%;
                display: flex;
                width: 100%;
                max-width: em(364px);
                margin: 0 auto;

                padding: 1em;
                border-radius: 2em;
                border: none;
                outline: none;
            }
        }
    }

    .account-menu {
        background-color: $clr1;
        border-radius: 2.5em;
        p {
            display: none;
        }

        .arrow-down {
            color: white;
            padding-bottom: 0.5em;
            font-size: 1.3em;
            margin: 0 0.4em;
            display: none;
        }
        .user-icon {
            color: $clr2;
            font-size: 2.5em;
            margin-inline-end: 0em;
        }
    }
}

@include for-normal-layout {
    .top-bar {
        width: calc(100% - $side-nav);
        padding: 0 1em;
        // padding: 0 1em 0 $side-nav;

        .header-btns {
            display: flex;
            min-width: 5em;
            justify-content: space-between;
        }

        .account-menu {
            p,
            .arrow-down {
                display: initial;
            }
            .user-icon {
                color: $clr2;
                font-size: 2.5em;
                margin-inline-end: 0.15em;
            }
        }
        form {
            label {
                .search-local {
                    margin: initial;
                }
            }
        }


    }
}
