.youtube-vue {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    button{
    
    }
    .youTubePlayer {
        height: 20px;
        opacity: 0;
      }
      img {
        width: 50px;
      }
      
      p {
        font-size: 0.7rem;
      }
}




  

  
  