@font-face {
    font-family: OleoScript;
    src: url(~@/assets/fonts/OleoScript/OleoScript-Regular.ttf);
}

@font-face {
    font-family: LuckiestGuy;
    src: url(~@/assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}