// COLOR PALETTE
$clr1: #1b1b1b;
$clr2: #ccc;
$clr3: #87e4f5;
$clr4: #f0decb;
$clr5: #fff;

// CONSTANT FIXED CMPS SIZE
$side-nav: 15.2em;
$top-bar: 3.75em;


// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 768px;
$break-wide: 1080px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
