
// COLOR PALETTE
$clr1: #1b1b1b;
$clr2: #bbbbbb;
$clr3: #87e4f5;
$clr4: #f0decb;
$clr5: #fff;

// CONSTANT FIXED CMPS SIZE
$side-nav: 15.2em; 
$top-bar: 3.75em;


// BUTTONS COLOR PALETTE
$btn-add: rgb(100, 210, 120);
$btn-edit: rgb(230, 176, 115);
$btn-remove: rgb(210, 70, 70);
$btn-save: rgb(30, 140, 245);

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 768px;
$break-wide: 1080px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;